.vscode/**
.vscode-test/**
.git/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
package-lock.json
vsc-extension-quickstart.md
*.vsix
.env
.env.*
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
